{
  "openapi": "3.2.0",
  "info": {
    "title": "httpcan.org",
    "description": "A modern, high‑performance superset of [httpbin.org](https://httpbin.org) for testing HTTP clients, proxies, and AI agents — with mock OpenAI/Anthropic LLM APIs and a full OAuth 2.0 server. Built with Rust and Actix Web. Every httpbin.org endpoint is covered and drop‑in compatible, plus dedicated endpoints httpbin.org doesn't have and others it has but httpcan fixes or extends — the homepage at <code>/</code> lists every endpoint with Enhanced/New badges. <br/> <br/> <b>Run locally:</b> <code>$ docker run -p 8080:8080 ghcr.io/seedvector/httpcan:latest</code> <br/> <br/> <b>✨ Features</b> <ul> <li><b>Drop‑in httpbin.org superset</b>: use as a drop‑in replacement for testing and migration</li><li><b>AI API mock</b>: OpenAI‑ and Anthropic‑compatible <code>/llm</code> endpoints — point any SDK <code>base_url</code> at it (streaming included) and test AI clients without a paid provider</li><li><b>OAuth 2.0 mock</b>: a full authorization server at <code>/oauth2</code> — four RFC 6749 grants (authorization code + PKCE, implicit, password, rotating refresh, client credentials), Bearer‑protected userinfo, and RFC 8414 discovery</li><li><b>AI‑friendly streaming</b>: native <code>/sse</code> and <code>/ndjson</code> endpoints with OpenAI/Ollama‑compatible chunk formats</li><li><b>Measured performance</b>: in our benchmarks against comparable HTTP testing servers, HTTPCan led on both throughput and tail latency</li><li><b>Anti‑phishing redirects</b>: browser clients hitting <code>/redirect-to</code> see a confirmation page instead of a silent 302</li><li><b>Correct header handling</b>: duplicate and non‑ASCII request headers are preserved instead of being dropped or crashing the server</li><li><b>Safer by default</b>: built‑in filtering strips reverse‑proxy/CDN headers from echoed responses, with <code>--exclude-headers</code> for more</li><li><b>Cloud‑native observability</b>: <code>/healthz</code> liveness probe, <code>/tags</code> instance identification, and <code>Server-Timing</code>/<code>X-Httpcan-Version</code> headers on every response</li><li><b>Self‑documenting homepage</b>: <code>/</code> lists every endpoint by category with compatibility badges and copy‑curl buttons — static HTML, crawlable by search engines and AI agents</li><li><b>Tiny &amp; fast</b>: tiny Docker image, minimal memory footprint, high throughput via Actix Web + Tokio</li>",
    "version": "0.8.0",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "externalDocs": {
    "description": "GitHub",
    "url": "https://github.com/seedvector/httpcan"
  },
  "servers": [
    {
      "url": "https://httpcan.org",
      "description": "Demo server"
    }
  ],
  "tags": [
    {
      "name": "HTTP Methods",
      "description": "Testing different HTTP verbs."
    },
    {
      "name": "Anything",
      "description": "Returns anything that is passed to the request."
    },
    {
      "name": "Auth",
      "description": "Auth methods."
    },
    {
      "name": "Status codes",
      "description": "Generates responses with a given status code."
    },
    {
      "name": "Request inspection",
      "description": "Inspect the request data."
    },
    {
      "name": "Response inspection",
      "description": "Inspect the response data, like caching and headers."
    },
    {
      "name": "Response formats",
      "description": "Returns responses in different data formats."
    },
    {
      "name": "Dynamic data",
      "description": "Generates random and dynamic data."
    },
    {
      "name": "Cookies",
      "description": "Creates, reads, and deletes cookies."
    },
    {
      "name": "Images",
      "description": "Returns different image formats."
    },
    {
      "name": "Redirects",
      "description": "Returns different redirect responses."
    },
    {
      "name": "Streaming",
      "description": "Server-Sent Events and NDJSON streaming endpoints."
    },
    {
      "name": "AI API Mock",
      "description": "Mock OpenAI- and Anthropic-compatible LLM APIs."
    },
    {
      "name": "OAuth 2.0 Mock",
      "description": "Mock OAuth 2.0 authorization server: RFC 6749 four grants with PKCE, RFC 8414 discovery."
    },
    {
      "name": "Observability",
      "description": "Health checks and instance identification."
    }
  ],
  "paths": {
    "/absolute-redirect/{n}": {
      "get": {
        "tags": [
          "Redirects"
        ],
        "summary": "Redirects n times, using absolute Location URLs.",
        "operationId": "getAbsoluteRedirectN",
        "description": "Same as /redirect/{n}, using absolute Location URLs.",
        "parameters": [
          {
            "name": "n",
            "in": "path",
            "required": true,
            "schema": {},
            "description": "Number of redirects to perform"
          }
        ],
        "responses": {
          "302": {
            "description": "A redirection.",
            "content": {}
          },
          "400": {
            "description": "n must be greater than 0.",
            "content": {}
          }
        }
      }
    },
    "/anything": {
      "get": {
        "tags": [
          "Anything"
        ],
        "summary": "Returns anything passed in request data.",
        "operationId": "getAnything",
        "description": "Accepts any method and echoes the full request; multipart handling matches /post.",
        "responses": {
          "200": {
            "description": "The echoed request data (args, headers, origin, url, and body).",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Anything"
        ],
        "summary": "Returns anything passed in request data.",
        "operationId": "putAnything",
        "description": "Accepts any method and echoes the full request; multipart handling matches /post.",
        "responses": {
          "200": {
            "description": "The echoed request data (args, headers, origin, url, and body).",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Anything"
        ],
        "summary": "Returns anything passed in request data.",
        "operationId": "postAnything",
        "description": "Accepts any method and echoes the full request; multipart handling matches /post.",
        "responses": {
          "200": {
            "description": "The echoed request data (args, headers, origin, url, and body).",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "Anything"
        ],
        "summary": "Returns anything passed in request data.",
        "operationId": "deleteAnything",
        "description": "Accepts any method and echoes the full request; multipart handling matches /post.",
        "responses": {
          "200": {
            "description": "The echoed request data (args, headers, origin, url, and body).",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "Anything"
        ],
        "summary": "Returns anything passed in request data.",
        "operationId": "patchAnything",
        "description": "Accepts any method and echoes the full request; multipart handling matches /post.",
        "responses": {
          "200": {
            "description": "The echoed request data (args, headers, origin, url, and body).",
            "content": {}
          }
        }
      },
      "query": {
        "tags": [
          "Anything"
        ],
        "summary": "Returns anything passed in request data.",
        "operationId": "queryAnything",
        "description": "Uses the QUERY HTTP method (RFC 9430): a safe, idempotent method that carries a request body.",
        "responses": {
          "200": {
            "description": "The echoed request data (args, headers, origin, url, and body).",
            "content": {}
          }
        }
      },
      "trace": {
        "tags": [
          "Anything"
        ],
        "summary": "Returns anything passed in request data.",
        "operationId": "traceAnything",
        "description": "TRACE variant (RFC 9110 §9.8): echoes the request like GET; TRACE carries no body.",
        "responses": {
          "200": {
            "description": "The echoed request data (args, headers, origin, url, and body).",
            "content": {}
          }
        }
      },
      "options": {
        "tags": [
          "Anything"
        ],
        "summary": "Returns anything passed in request data.",
        "operationId": "optionsAnything",
        "description": "Plain OPTIONS (non-preflight) echoes the request like GET; CORS preflights carrying Access-Control-Request-Method are handled by the CORS middleware.",
        "responses": {
          "200": {
            "description": "The echoed request data (args, headers, origin, url, and body).",
            "content": {}
          }
        }
      }
    },
    "/anything/{anything}": {
      "get": {
        "tags": [
          "Anything"
        ],
        "summary": "Returns anything passed in request data.",
        "operationId": "getAnythingAnything",
        "description": "Same as /anything, with extra path segment(s) that are ignored.",
        "parameters": [
          {
            "name": "anything",
            "in": "path",
            "required": true,
            "description": "Arbitrary path content after /anything (single or multi-segment), echoed back in the response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The echoed request data (args, headers, origin, url, and body).",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Anything"
        ],
        "summary": "Returns anything passed in request data.",
        "operationId": "putAnythingAnything",
        "description": "Same as /anything, with extra path segment(s) that are ignored.",
        "parameters": [
          {
            "name": "anything",
            "in": "path",
            "required": true,
            "description": "Arbitrary path content after /anything (single or multi-segment), echoed back in the response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The echoed request data (args, headers, origin, url, and body).",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Anything"
        ],
        "summary": "Returns anything passed in request data.",
        "operationId": "postAnythingAnything",
        "description": "Same as /anything, with extra path segment(s) that are ignored.",
        "parameters": [
          {
            "name": "anything",
            "in": "path",
            "required": true,
            "description": "Arbitrary path content after /anything (single or multi-segment), echoed back in the response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The echoed request data (args, headers, origin, url, and body).",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "Anything"
        ],
        "summary": "Returns anything passed in request data.",
        "operationId": "deleteAnythingAnything",
        "description": "Same as /anything, with extra path segment(s) that are ignored.",
        "parameters": [
          {
            "name": "anything",
            "in": "path",
            "required": true,
            "description": "Arbitrary path content after /anything (single or multi-segment), echoed back in the response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The echoed request data (args, headers, origin, url, and body).",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "Anything"
        ],
        "summary": "Returns anything passed in request data.",
        "operationId": "patchAnythingAnything",
        "description": "Same as /anything, with extra path segment(s) that are ignored.",
        "parameters": [
          {
            "name": "anything",
            "in": "path",
            "required": true,
            "description": "Arbitrary path content after /anything (single or multi-segment), echoed back in the response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The echoed request data (args, headers, origin, url, and body).",
            "content": {}
          }
        }
      },
      "query": {
        "tags": [
          "Anything"
        ],
        "summary": "Returns anything passed in request data.",
        "operationId": "queryAnythingAnything",
        "description": "Uses the QUERY HTTP method (RFC 9430): a safe, idempotent method that carries a request body.",
        "parameters": [
          {
            "name": "anything",
            "in": "path",
            "required": true,
            "description": "Arbitrary path content after /anything (single or multi-segment), echoed back in the response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The echoed request data (args, headers, origin, url, and body).",
            "content": {}
          }
        }
      },
      "trace": {
        "tags": [
          "Anything"
        ],
        "summary": "Returns anything passed in request data.",
        "operationId": "traceAnythingAnything",
        "description": "TRACE variant (RFC 9110 §9.8): echoes the request like GET; TRACE carries no body.",
        "parameters": [
          {
            "name": "anything",
            "in": "path",
            "required": true,
            "description": "Arbitrary path content after /anything (single or multi-segment), echoed back in the response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The echoed request data (args, headers, origin, url, and body).",
            "content": {}
          }
        }
      },
      "options": {
        "tags": [
          "Anything"
        ],
        "summary": "Returns anything passed in request data.",
        "operationId": "optionsAnythingAnything",
        "description": "Plain OPTIONS (non-preflight) echoes the request like GET; CORS preflights carrying Access-Control-Request-Method are handled by the CORS middleware.",
        "parameters": [
          {
            "name": "anything",
            "in": "path",
            "required": true,
            "description": "Arbitrary path content after /anything (single or multi-segment), echoed back in the response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The echoed request data (args, headers, origin, url, and body).",
            "content": {}
          }
        }
      }
    },
    "/base64": {
      "post": {
        "tags": [
          "Dynamic data"
        ],
        "summary": "Decodes the base64-encoded request body and returns it as text/plain.",
        "operationId": "postBase64",
        "description": "Decodes the base64-encoded request body and returns the decoded content as text/plain; invalid base64 returns 400.",
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decoded content as text/plain.",
            "content": {}
          },
          "400": {
            "description": "Invalid base64 data.",
            "content": {}
          }
        }
      }
    },
    "/base64/{value}": {
      "get": {
        "tags": [
          "Dynamic data"
        ],
        "summary": "Decodes a standard base64 string.",
        "operationId": "getBase64Value",
        "description": "Decodes a standard base64 string; returns raw bytes (application/octet-stream) for non-UTF-8 content instead of erroring.",
        "parameters": [
          {
            "name": "value",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "SFRUUEJJTiBpcyBhd2Vzb21l"
            },
            "description": "Standard base64-encoded string to decode"
          }
        ],
        "responses": {
          "200": {
            "description": "Decoded base64 content.",
            "content": {}
          },
          "400": {
            "description": "Invalid base64 data.",
            "content": {}
          }
        }
      }
    },
    "/basic-auth/{user}/{passwd}": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Prompts for HTTP Basic Auth with the given credentials.",
        "operationId": "getBasicAuthUserPasswd",
        "description": "Returns {\"user\": ...} on success; challenges with 401 on incorrect credentials.",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Username to authenticate with"
          },
          {
            "name": "passwd",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Password to authenticate with"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful authentication.",
            "content": {}
          },
          "401": {
            "description": "Unsuccessful authentication.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Prompts for HTTP Basic Auth with the given credentials.",
        "operationId": "postBasicAuthUserPasswd",
        "description": "Returns {\"user\": ...} on success; challenges with 401 on incorrect credentials.",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Username to authenticate with"
          },
          {
            "name": "passwd",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Password to authenticate with"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful authentication.",
            "content": {}
          },
          "401": {
            "description": "Unsuccessful authentication.",
            "content": {}
          }
        }
      }
    },
    "/basic-auth/{user}": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Prompts for HTTP Basic Auth with username-only check.",
        "operationId": "getBasicAuthUser",
        "description": "Challenges HTTP Basic Auth with an empty password (username-only check).",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Username to authenticate with"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful authentication.",
            "content": {}
          },
          "401": {
            "description": "Unsuccessful authentication.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Prompts for HTTP Basic Auth with username-only check.",
        "operationId": "postBasicAuthUser",
        "description": "POST variant of the username-only Basic Auth check (empty password).",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Username to authenticate with"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful authentication.",
            "content": {}
          },
          "401": {
            "description": "Unsuccessful authentication.",
            "content": {}
          }
        }
      }
    },
    "/bearer": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Prompts for Bearer authentication.",
        "operationId": "getBearer",
        "description": "Checks for a Bearer token in the Authorization header.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful authentication.",
            "content": {}
          },
          "401": {
            "description": "Unsuccessful authentication.",
            "content": {}
          }
        }
      }
    },
    "/jwt-bearer": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Validates a JWT Bearer token and returns its details.",
        "operationId": "getJwtBearer",
        "description": "Decodes and inspects a JWT Bearer token without verifying its signature: checks expiration claims and returns token analysis including header, payload, claims, and validation status. Useful for testing JWT authentication implementations.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Valid JWT token with detailed analysis.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authenticated": {
                      "type": "boolean",
                      "example": true
                    },
                    "token": {
                      "type": "object",
                      "properties": {
                        "raw": {
                          "type": "string",
                          "description": "Original JWT token string",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
                        },
                        "header": {
                          "type": "object",
                          "description": "Decoded JWT header",
                          "example": {
                            "alg": "HS256",
                            "typ": "JWT"
                          }
                        },
                        "payload": {
                          "type": "object",
                          "description": "Decoded JWT payload",
                          "example": {
                            "sub": "1234567890",
                            "name": "John Doe",
                            "iat": 1516239022
                          }
                        },
                        "payloadFormatted": {
                          "type": "object",
                          "description": "JWT payload with timestamps replaced by human-readable formatted versions",
                          "example": {
                            "sub": "1234567890",
                            "name": "John Doe",
                            "iat": "2018-01-18T01:30:22Z",
                            "exp": "2025-01-18T01:30:22Z"
                          }
                        },
                        "validationStatus": {
                          "type": "object",
                          "properties": {
                            "structure": {
                              "type": "string",
                              "enum": [
                                "valid",
                                "invalid"
                              ],
                              "example": "valid"
                            },
                            "expiration": {
                              "type": "string",
                              "enum": [
                                "valid",
                                "expired",
                                "not_present",
                                "invalid_format"
                              ],
                              "example": "not_present"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid, expired, or missing JWT token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authenticated": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "description": "Error description",
                      "example": "Token expired"
                    },
                    "token": {
                      "type": "object",
                      "description": "Available token information (if any could be extracted)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g., invalid Authorization header encoding).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authenticated": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Invalid Authorization header encoding"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "JWT Bearer token to validate",
            "schema": {
              "type": "string"
            },
            "examples": {
              "Valid Token": {
                "summary": "Example with valid JWT token",
                "description": "Request with a valid JWT token that includes standard claims",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
              },
              "Expired Token": {
                "summary": "Example with expired JWT token",
                "description": "Request with an expired JWT token",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyLCJleHAiOjE1MTYyMzkwMjJ9.expired_signature"
              }
            }
          }
        ]
      }
    },
    "/brotli": {
      "get": {
        "tags": [
          "Response formats"
        ],
        "summary": "Returns Brotli-encoded data.",
        "operationId": "getBrotli",
        "description": "Returns a fixed sample JSON document, Brotli-encoded.",
        "responses": {
          "200": {
            "description": "Brotli-encoded data.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Response formats"
        ],
        "summary": "Echoes the request body, Brotli-encoded.",
        "operationId": "postBrotli",
        "description": "Compresses the request body with the matching Content-Encoding and returns it.",
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request body, Brotli-encoded.",
            "content": {}
          }
        }
      }
    },
    "/zstd": {
      "get": {
        "tags": [
          "Response formats"
        ],
        "summary": "Returns Zstandard-encoded data.",
        "operationId": "getZstd",
        "description": "Returns a fixed sample JSON document, Zstandard-encoded.",
        "responses": {
          "200": {
            "description": "Zstandard-encoded data.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Response formats"
        ],
        "summary": "Echoes the request body, Zstandard-encoded.",
        "operationId": "postZstd",
        "description": "Compresses the request body with the matching Content-Encoding and returns it.",
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request body, Zstandard-encoded.",
            "content": {}
          }
        }
      }
    },
    "/bytes/{n}": {
      "get": {
        "tags": [
          "Dynamic data"
        ],
        "summary": "Returns n random bytes.",
        "operationId": "getBytesN",
        "description": "Returns n random bytes; an optional ?seed= makes them deterministic. Over the configured --max-bytes limit returns 404 instead of silently truncating.",
        "parameters": [
          {
            "name": "n",
            "in": "path",
            "required": true,
            "schema": {},
            "description": "Number of random bytes to return"
          },
          {
            "name": "seed",
            "in": "query",
            "description": "Optional seed for deterministic random bytes",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "n random bytes (application/octet-stream).",
            "content": {}
          },
          "404": {
            "description": "n exceeds the server max-bytes limit (configurable via --max-bytes).",
            "content": {}
          }
        }
      }
    },
    "/cache": {
      "get": {
        "tags": [
          "Response inspection"
        ],
        "summary": "Returns 304 for conditional requests, 200 otherwise.",
        "operationId": "getCache",
        "description": "Returns 304 if If-Modified-Since or If-None-Match is present, 200 otherwise.",
        "parameters": [
          {
            "name": "If-Modified-Since",
            "in": "header",
            "schema": {},
            "description": "Conditional request header; a match returns 304"
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "schema": {},
            "description": "Conditional request header; a match returns 304"
          }
        ],
        "responses": {
          "200": {
            "description": "Cached response.",
            "content": {}
          },
          "304": {
            "description": "Modified.",
            "content": {}
          }
        }
      }
    },
    "/cache/{value}": {
      "get": {
        "tags": [
          "Response inspection"
        ],
        "summary": "Sets a Cache-Control header for n seconds.",
        "operationId": "getCacheValue",
        "description": "Sets Cache-Control: public, max-age=<value> seconds on the response.",
        "parameters": [
          {
            "name": "value",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Cache duration in seconds"
          }
        ],
        "responses": {
          "200": {
            "description": "Cache control set.",
            "content": {}
          }
        }
      }
    },
    "/cookies": {
      "get": {
        "tags": [
          "Cookies"
        ],
        "summary": "Returns cookie data.",
        "operationId": "getCookies",
        "description": "Returns the request cookies as {\"cookies\": {...}}.",
        "responses": {
          "200": {
            "description": "Set cookies.",
            "content": {}
          }
        }
      }
    },
    "/cookies/delete": {
      "get": {
        "tags": [
          "Cookies"
        ],
        "summary": "Deletes the given cookies.",
        "operationId": "getCookiesDelete",
        "description": "Deletes the given cookies and redirects to /cookies.",
        "parameters": [
          {
            "name": "freeform",
            "in": "query",
            "allowEmptyValue": true,
            "schema": {},
            "description": "Cookie names to delete (one per query parameter)"
          }
        ],
        "responses": {
          "200": {
            "description": "Redirects to /cookies.",
            "content": {}
          }
        }
      }
    },
    "/cookies/set": {
      "get": {
        "tags": [
          "Cookies"
        ],
        "summary": "Sets cookies from query string name=value pairs.",
        "operationId": "getCookiesSet",
        "description": "Sets cookies from query parameters and redirects to /cookies; supports httponly/secure/samesite/domain/path/max_age attributes.",
        "parameters": [
          {
            "name": "freeform",
            "in": "query",
            "allowEmptyValue": true,
            "schema": {},
            "description": "Each name=value query pair becomes a cookie (plus httponly/secure/samesite/domain/path/max_age attributes)"
          },
          {
            "name": "httponly",
            "in": "query",
            "description": "If 'true', set the HttpOnly attribute on all cookies",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secure",
            "in": "query",
            "description": "If 'true', set the Secure attribute (defaults to the request scheme)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "samesite",
            "in": "query",
            "description": "SameSite attribute",
            "schema": {
              "type": "string",
              "enum": [
                "strict",
                "lax",
                "none"
              ]
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Cookie Domain attribute",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_age",
            "in": "query",
            "description": "Max-Age in seconds",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "path",
            "in": "query",
            "description": "Cookie Path attribute (defaults to '/')",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Redirects to /cookies.",
            "content": {}
          }
        }
      }
    },
    "/cookies/set/{name}/{value}": {
      "get": {
        "tags": [
          "Cookies"
        ],
        "summary": "Sets a single cookie and redirects to /cookies.",
        "operationId": "getCookiesSetNameValue",
        "description": "Equivalent to /cookies/set?<name>=<value>: sets one cookie, then redirects to /cookies.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cookie name"
          },
          {
            "name": "value",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cookie value"
          }
        ],
        "responses": {
          "200": {
            "description": "Set cookies and redirects to /cookies.",
            "content": {}
          }
        }
      }
    },
    "/deflate": {
      "get": {
        "tags": [
          "Response formats"
        ],
        "summary": "Returns Deflate-encoded data.",
        "operationId": "getDeflate",
        "description": "Returns a fixed sample JSON document, Deflate-encoded.",
        "responses": {
          "200": {
            "description": "Deflate-encoded data.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Response formats"
        ],
        "summary": "Echoes the request body, Deflate-encoded.",
        "operationId": "postDeflate",
        "description": "Compresses the request body with the matching Content-Encoding and returns it.",
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request body, Deflate-encoded.",
            "content": {}
          }
        }
      }
    },
    "/delay/{delay}": {
      "get": {
        "tags": [
          "Dynamic data"
        ],
        "summary": "Returns a delayed response (max of 10 seconds).",
        "operationId": "getDelayDelay",
        "description": "Delays the response by up to 10 seconds.",
        "parameters": [
          {
            "name": "delay",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Delay duration in seconds (max 10)"
          }
        ],
        "responses": {
          "200": {
            "description": "A delayed response.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Dynamic data"
        ],
        "summary": "Returns a delayed response (max of 10 seconds).",
        "operationId": "putDelayDelay",
        "description": "Delays the response by up to 10 seconds.",
        "parameters": [
          {
            "name": "delay",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Delay duration in seconds (max 10)"
          }
        ],
        "responses": {
          "200": {
            "description": "A delayed response.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Dynamic data"
        ],
        "summary": "Returns a delayed response (max of 10 seconds).",
        "operationId": "postDelayDelay",
        "description": "Delays the response by up to 10 seconds.",
        "parameters": [
          {
            "name": "delay",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Delay duration in seconds (max 10)"
          }
        ],
        "responses": {
          "200": {
            "description": "A delayed response.",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "Dynamic data"
        ],
        "summary": "Returns a delayed response (max of 10 seconds).",
        "operationId": "deleteDelayDelay",
        "description": "Delays the response by up to 10 seconds.",
        "parameters": [
          {
            "name": "delay",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Delay duration in seconds (max 10)"
          }
        ],
        "responses": {
          "200": {
            "description": "A delayed response.",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "Dynamic data"
        ],
        "summary": "Returns a delayed response (max of 10 seconds).",
        "operationId": "patchDelayDelay",
        "description": "Delays the response by up to 10 seconds.",
        "parameters": [
          {
            "name": "delay",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Delay duration in seconds (max 10)"
          }
        ],
        "responses": {
          "200": {
            "description": "A delayed response.",
            "content": {}
          }
        }
      },
      "trace": {
        "tags": [
          "Dynamic data"
        ],
        "summary": "Returns a delayed response (max of 10 seconds).",
        "operationId": "traceDelayDelay",
        "description": "TRACE variant: delays up to 10 seconds, then responds like GET (TRACE carries no body).",
        "parameters": [
          {
            "name": "delay",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Delay duration in seconds (max 10)"
          }
        ],
        "responses": {
          "200": {
            "description": "A delayed response.",
            "content": {}
          }
        }
      }
    },
    "/delete": {
      "delete": {
        "tags": [
          "HTTP Methods"
        ],
        "summary": "Echoes the request's DELETE parameters.",
        "operationId": "deleteDelete",
        "description": "Same as /post, for DELETE requests.",
        "responses": {
          "200": {
            "description": "The request's DELETE parameters.",
            "content": {}
          }
        }
      }
    },
    "/deny": {
      "get": {
        "tags": [
          "Response formats"
        ],
        "summary": "Returns page denied by robots.txt rules.",
        "operationId": "getDeny",
        "description": "Returns the page that robots.txt disallows.",
        "responses": {
          "200": {
            "description": "Denied message.",
            "content": {}
          }
        }
      }
    },
    "/digest-auth/{qop}/{user}/{passwd}": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Prompts for HTTP Digest Auth.",
        "operationId": "getDigestAuthQopUserPasswd",
        "description": "Supports both 'auth' and 'auth-int' QoP (Quality of Protection). For 'auth-int', the HA2 hash includes the request body per RFC-7616: HA2 = H(method:uri:H(entity-body)). Supported hash algorithms include SHA-512-256; qop=none enables RFC 2069 legacy mode.",
        "security": [
          {
            "digestAuth": []
          }
        ],
        "parameters": [
          {
            "name": "qop",
            "in": "path",
            "description": "auth, auth-int, or none. 'auth-int' includes the request body in the hash calculation; 'none' omits qop entirely (RFC 2069 legacy mode).",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "auth",
                "auth-int",
                "none"
              ]
            }
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Username to authenticate with"
          },
          {
            "name": "passwd",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Password to authenticate with"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful authentication.",
            "content": {}
          },
          "401": {
            "description": "Unsuccessful authentication.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Prompts for HTTP Digest Auth.",
        "operationId": "postDigestAuthQopUserPasswd",
        "description": "POST method for testing 'auth-int' QoP with request bodies. For 'auth-int', the HA2 hash includes the request body per RFC-7616: HA2 = H(method:uri:H(entity-body)). This is essential for proper auth-int testing. Supported hash algorithms include SHA-512-256; qop=none enables RFC 2069 legacy mode.",
        "security": [
          {
            "digestAuth": []
          }
        ],
        "parameters": [
          {
            "name": "qop",
            "in": "path",
            "description": "auth, auth-int, or none. 'auth-int' includes the request body in the hash calculation; 'none' omits qop entirely (RFC 2069 legacy mode).",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "auth",
                "auth-int",
                "none"
              ]
            }
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Username to authenticate with"
          },
          {
            "name": "passwd",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Password to authenticate with"
          }
        ],
        "requestBody": {
          "description": "Request body for auth-int QoP testing. The body hash is included in HA2 calculation.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            },
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication.",
            "content": {}
          },
          "401": {
            "description": "Unsuccessful authentication.",
            "content": {}
          }
        }
      }
    },
    "/digest-auth/{qop}/{user}/{passwd}/{algorithm}": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Prompts for HTTP Digest Auth with a configurable hash algorithm.",
        "operationId": "getDigestAuthQopUserPasswdAlgorithm",
        "description": "Supports both 'auth' and 'auth-int' QoP with configurable hash algorithm. For 'auth-int', the HA2 hash includes the request body per RFC-7616.",
        "security": [
          {
            "digestAuth": []
          }
        ],
        "parameters": [
          {
            "name": "qop",
            "in": "path",
            "description": "auth, auth-int, or none. 'auth-int' includes the request body in the hash calculation; 'none' omits qop entirely (RFC 2069 legacy mode).",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "auth",
                "auth-int",
                "none"
              ]
            }
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Username to authenticate with"
          },
          {
            "name": "passwd",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Password to authenticate with"
          },
          {
            "name": "algorithm",
            "in": "path",
            "description": "Hash algorithm for digest calculation",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "MD5",
                "SHA-256",
                "SHA-512",
                "SHA-512-256"
              ],
              "default": "MD5"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful authentication.",
            "content": {}
          },
          "401": {
            "description": "Unsuccessful authentication.",
            "content": {}
          },
          "400": {
            "description": "Unsupported hash algorithm.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Prompts for HTTP Digest Auth with a configurable hash algorithm.",
        "operationId": "postDigestAuthQopUserPasswdAlgorithm",
        "description": "POST method for testing 'auth-int' QoP with request bodies and configurable hash algorithm. For 'auth-int', the HA2 hash includes the request body per RFC-7616.",
        "security": [
          {
            "digestAuth": []
          }
        ],
        "parameters": [
          {
            "name": "qop",
            "in": "path",
            "description": "auth, auth-int, or none. 'auth-int' includes the request body in the hash calculation; 'none' omits qop entirely (RFC 2069 legacy mode).",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "auth",
                "auth-int",
                "none"
              ]
            }
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Username to authenticate with"
          },
          {
            "name": "passwd",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Password to authenticate with"
          },
          {
            "name": "algorithm",
            "in": "path",
            "description": "Hash algorithm for digest calculation",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "MD5",
                "SHA-256",
                "SHA-512",
                "SHA-512-256"
              ],
              "default": "MD5"
            }
          }
        ],
        "requestBody": {
          "description": "Request body for auth-int QoP testing. The body hash is included in HA2 calculation.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            },
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication.",
            "content": {}
          },
          "401": {
            "description": "Unsuccessful authentication.",
            "content": {}
          },
          "400": {
            "description": "Unsupported hash algorithm.",
            "content": {}
          }
        }
      }
    },
    "/digest-auth/{qop}/{user}/{passwd}/{algorithm}/{stale_after}": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Prompts for HTTP Digest Auth with algorithm and stale_after control.",
        "operationId": "getDigestAuthQopUserPasswdAlgorithmStaleAfter",
        "description": "Full Digest Auth endpoint with stale_after control. Supports both 'auth' and 'auth-int' QoP. For 'auth-int', the HA2 hash includes the request body per RFC-7616.",
        "security": [
          {
            "digestAuth": []
          }
        ],
        "parameters": [
          {
            "name": "qop",
            "in": "path",
            "description": "auth, auth-int, or none. 'auth-int' includes the request body in the hash calculation; 'none' omits qop entirely (RFC 2069 legacy mode).",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "auth",
                "auth-int",
                "none"
              ]
            }
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Username to authenticate with"
          },
          {
            "name": "passwd",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Password to authenticate with"
          },
          {
            "name": "algorithm",
            "in": "path",
            "description": "Hash algorithm for digest calculation",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "MD5",
                "SHA-256",
                "SHA-512",
                "SHA-512-256"
              ],
              "default": "MD5"
            }
          },
          {
            "name": "stale_after",
            "in": "path",
            "description": "Number of requests before nonce becomes stale, or 'never'",
            "required": true,
            "schema": {
              "type": "string",
              "default": "never"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful authentication.",
            "content": {}
          },
          "401": {
            "description": "Unsuccessful authentication.",
            "content": {}
          },
          "400": {
            "description": "Unsupported hash algorithm.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Prompts for HTTP Digest Auth with algorithm and stale_after control.",
        "operationId": "postDigestAuthQopUserPasswdAlgorithmStaleAfter",
        "description": "Full Digest Auth endpoint with stale_after control. POST method for testing 'auth-int' QoP with request bodies. For 'auth-int', the HA2 hash includes the request body per RFC-7616.",
        "security": [
          {
            "digestAuth": []
          }
        ],
        "parameters": [
          {
            "name": "qop",
            "in": "path",
            "description": "auth, auth-int, or none. 'auth-int' includes the request body in the hash calculation; 'none' omits qop entirely (RFC 2069 legacy mode).",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "auth",
                "auth-int",
                "none"
              ]
            }
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Username to authenticate with"
          },
          {
            "name": "passwd",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Password to authenticate with"
          },
          {
            "name": "algorithm",
            "in": "path",
            "description": "Hash algorithm for digest calculation",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "MD5",
                "SHA-256",
                "SHA-512",
                "SHA-512-256"
              ],
              "default": "MD5"
            }
          },
          {
            "name": "stale_after",
            "in": "path",
            "description": "Number of requests before nonce becomes stale, or 'never'",
            "required": true,
            "schema": {
              "type": "string",
              "default": "never"
            }
          }
        ],
        "requestBody": {
          "description": "Request body for auth-int QoP testing. The body hash is included in HA2 calculation.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            },
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication.",
            "content": {}
          },
          "401": {
            "description": "Unsuccessful authentication.",
            "content": {}
          },
          "400": {
            "description": "Unsupported hash algorithm.",
            "content": {}
          }
        }
      }
    },
    "/drip": {
      "get": {
        "tags": [
          "Dynamic data"
        ],
        "summary": "Drips data over a duration after an optional initial delay.",
        "operationId": "getDrip",
        "description": "Drips data over a duration; ?chunked=true streams with real chunked transfer-encoding.",
        "parameters": [
          {
            "name": "duration",
            "in": "query",
            "description": "The amount of time (in seconds) over which to drip each byte",
            "schema": {
              "type": "number",
              "default": 2
            }
          },
          {
            "name": "numbytes",
            "in": "query",
            "description": "The number of bytes to respond with",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "The response code that will be returned",
            "schema": {
              "type": "integer",
              "default": 200
            }
          },
          {
            "name": "delay",
            "in": "query",
            "description": "The amount of time (in seconds) to delay before responding",
            "schema": {
              "type": "number",
              "default": 2
            }
          },
          {
            "name": "chunked",
            "in": "query",
            "description": "If true, stream with chunked transfer-encoding (omit Content-Length)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A dripped response.",
            "content": {}
          },
          "400": {
            "description": "numbytes must be positive.",
            "content": {}
          },
          "404": {
            "description": "numbytes exceeds the server max-bytes limit (configurable via --max-bytes).",
            "content": {}
          }
        }
      }
    },
    "/encoding/utf8": {
      "get": {
        "tags": [
          "Response formats"
        ],
        "summary": "Returns a UTF-8 encoded body.",
        "operationId": "getEncodingUtf8",
        "description": "Returns an HTML page of multi-byte UTF-8 demo text.",
        "responses": {
          "200": {
            "description": "Encoded UTF-8 content.",
            "content": {}
          }
        }
      }
    },
    "/encoding/iso-8859-1": {
      "get": {
        "tags": [
          "Response formats"
        ],
        "summary": "Returns an ISO-8859-1 (Latin-1) encoded body.",
        "operationId": "getEncodingIso88591",
        "description": "Returns an ISO-8859-1 encoded page.",
        "responses": {
          "200": {
            "description": "Encoded Latin-1 content.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/etag/{etag}": {
      "get": {
        "tags": [
          "Response inspection"
        ],
        "summary": "Validates conditional requests against the given ETag.",
        "operationId": "getEtagEtag",
        "description": "Validates If-Match/If-None-Match against the given ETag; supports weak W/\"...\" validators.",
        "parameters": [
          {
            "name": "etag",
            "in": "path",
            "required": true,
            "description": "The etag value. Use the weak form W/\"value\" for weak validation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "schema": {},
            "description": "Conditional request header; a match returns 304"
          },
          {
            "name": "If-Match",
            "in": "header",
            "schema": {},
            "description": "Conditional request header; a mismatch returns 412"
          }
        ],
        "responses": {
          "200": {
            "description": "Normal response.",
            "content": {}
          },
          "412": {
            "description": "Precondition failed: the conditional header did not match the given ETag.",
            "content": {}
          }
        }
      }
    },
    "/get": {
      "get": {
        "tags": [
          "HTTP Methods"
        ],
        "summary": "Echoes the request's query parameters, headers, origin, and URL.",
        "operationId": "getGet",
        "description": "Echoes the request's query parameters, headers, origin, and URL (GET and HEAD); response shape per the GetRequestInfo schema.",
        "responses": {
          "200": {
            "description": "The request's query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRequestInfo"
                }
              }
            }
          }
        }
      }
    },
    "/head": {
      "head": {
        "tags": [
          "HTTP Methods"
        ],
        "summary": "Echoes the request headers as X-Echo-* response headers.",
        "operationId": "headHead",
        "description": "HEAD-only: echoes the request headers back as X-Echo-* response headers.",
        "responses": {
          "200": {
            "description": "Empty body; request headers mirrored as X-Echo-* response headers.",
            "content": {}
          }
        }
      }
    },
    "/method": {
      "get": {
        "tags": [
          "Request inspection"
        ],
        "summary": "Echoes the request's HTTP method name.",
        "operationId": "getMethod",
        "description": "Echoes back the HTTP method name used. Any method name is accepted, including extension methods not listed here.",
        "responses": {
          "200": {
            "description": "JSON object with the method name.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "method": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Request inspection"
        ],
        "summary": "Echoes the request's HTTP method name.",
        "operationId": "postMethod",
        "description": "Echoes back the HTTP method name used. Any method name is accepted, including extension methods not listed here.",
        "responses": {
          "200": {
            "description": "JSON object with the method name.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "method": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Request inspection"
        ],
        "summary": "Echoes the request's HTTP method name.",
        "operationId": "putMethod",
        "description": "Echoes back the HTTP method name used. Any method name is accepted, including extension methods not listed here.",
        "responses": {
          "200": {
            "description": "JSON object with the method name.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "method": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Request inspection"
        ],
        "summary": "Echoes the request's HTTP method name.",
        "operationId": "patchMethod",
        "description": "Echoes back the HTTP method name used. Any method name is accepted, including extension methods not listed here.",
        "responses": {
          "200": {
            "description": "JSON object with the method name.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "method": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Request inspection"
        ],
        "summary": "Echoes the request's HTTP method name.",
        "operationId": "deleteMethod",
        "description": "Echoes back the HTTP method name used. Any method name is accepted, including extension methods not listed here.",
        "responses": {
          "200": {
            "description": "JSON object with the method name.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "method": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "head": {
        "tags": [
          "Request inspection"
        ],
        "summary": "Echoes the request's HTTP method name.",
        "operationId": "headMethod",
        "description": "Echoes back the HTTP method name used. Any method name is accepted, including extension methods not listed here. HEAD responses carry the headers with an empty body.",
        "responses": {
          "200": {
            "description": "Headers only; no response body (HEAD).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "method": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "options": {
        "tags": [
          "Request inspection"
        ],
        "summary": "Echoes the request's HTTP method name.",
        "operationId": "optionsMethod",
        "description": "Echoes back the HTTP method name used. Any method name is accepted, including extension methods not listed here.",
        "responses": {
          "200": {
            "description": "JSON object with the method name.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "method": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "trace": {
        "tags": [
          "Request inspection"
        ],
        "summary": "Echoes the request's HTTP method name.",
        "operationId": "traceMethod",
        "description": "Echoes back the HTTP method name used. Any method name is accepted, including extension methods not listed here.",
        "responses": {
          "200": {
            "description": "JSON object with the method name.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "method": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "query": {
        "tags": [
          "Request inspection"
        ],
        "summary": "Echoes the request's HTTP method name.",
        "operationId": "queryMethod",
        "description": "Echoes back the HTTP method name used. Any method name is accepted, including extension methods not listed here.",
        "responses": {
          "200": {
            "description": "JSON object with the method name.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "method": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "additionalOperations": {
        "ANY_CUSTOM_METHOD": {
          "tags": [
            "Request inspection"
          ],
          "summary": "Echoes the request's HTTP method name.",
          "operationId": "anyCustomMethod",
          "description": "Placeholder key demonstrating that ANY method token is accepted: sending ANY_CUSTOM_METHOD — or any other non-standard token such as LINK (RFC 4918) or PURGE — echoes the method name back unchanged.",
          "responses": {
            "200": {
              "description": "JSON object with the method name.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "method": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/options": {
      "options": {
        "tags": [
          "HTTP Methods"
        ],
        "summary": "Echoes the request and returns an Allow header.",
        "operationId": "optionsOptions",
        "description": "OPTIONS-only: echoes the request and returns an Allow header (RFC 9110 §9.3.7).",
        "responses": {
          "200": {
            "description": "JSON echo of args/headers/origin/url, plus Allow: OPTIONS.",
            "content": {}
          }
        }
      }
    },
    "/query": {
      "query": {
        "tags": [
          "HTTP Methods"
        ],
        "summary": "Echoes the request like /post (RFC 9430).",
        "operationId": "queryQuery",
        "description": "Echoes the request's URL args and parsed body (form/JSON/multipart), like /post. Uses the QUERY HTTP method (RFC 9430): a safe, idempotent method that carries a request body.",
        "responses": {
          "200": {
            "description": "Echoed request data.",
            "content": {}
          }
        }
      }
    },
    "/trace": {
      "trace": {
        "tags": [
          "HTTP Methods"
        ],
        "summary": "Echoes the request back to the client.",
        "operationId": "traceTrace",
        "description": "TRACE-only: echoes the request like /anything (RFC 9110 §9.8).",
        "responses": {
          "200": {
            "description": "JSON echo of the request.",
            "content": {}
          }
        }
      }
    },
    "/gzip": {
      "get": {
        "tags": [
          "Response formats"
        ],
        "summary": "Returns GZip-encoded data.",
        "operationId": "getGzip",
        "description": "Returns a fixed sample JSON document, GZip-encoded.",
        "responses": {
          "200": {
            "description": "GZip-encoded data.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Response formats"
        ],
        "summary": "Echoes the request body, GZip-encoded.",
        "operationId": "postGzip",
        "description": "Compresses the request body with the matching Content-Encoding and returns it.",
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request body, GZip-encoded.",
            "content": {}
          }
        }
      }
    },
    "/headers": {
      "get": {
        "tags": [
          "Request inspection"
        ],
        "summary": "Returns the request's HTTP headers.",
        "operationId": "getHeaders",
        "description": "Returns the request's HTTP headers as a JSON object; proxy/CDN headers are filtered per --exclude-headers.",
        "responses": {
          "200": {
            "description": "The request's headers.",
            "content": {}
          }
        }
      }
    },
    "/hidden-basic-auth/{user}/{passwd}": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Hidden HTTP Basic Auth: 404 instead of 401 on failure.",
        "operationId": "getHiddenBasicAuthUserPasswd",
        "description": "Like /basic-auth, but returns 404 instead of 401 on failure.",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Username to authenticate with"
          },
          {
            "name": "passwd",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Password to authenticate with"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful authentication.",
            "content": {}
          },
          "404": {
            "description": "Unsuccessful authentication.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Hidden HTTP Basic Auth: 404 instead of 401 on failure.",
        "operationId": "postHiddenBasicAuthUserPasswd",
        "description": "POST variant: like /basic-auth, but returns 404 instead of 401 on failure.",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Username to authenticate with"
          },
          {
            "name": "passwd",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Password to authenticate with"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful authentication.",
            "content": {}
          },
          "404": {
            "description": "Unsuccessful authentication.",
            "content": {}
          }
        }
      }
    },
    "/hidden-basic-auth/{user}": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Hidden HTTP Basic Auth, username-only: 404 instead of 401 on failure.",
        "operationId": "getHiddenBasicAuthUser",
        "description": "Like /basic-auth/{user}, but returns 404 instead of 401 on failure.",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Username to authenticate with"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful authentication.",
            "content": {}
          },
          "404": {
            "description": "Unsuccessful authentication.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Hidden HTTP Basic Auth, username-only: 404 instead of 401 on failure.",
        "operationId": "postHiddenBasicAuthUser",
        "description": "POST variant: like /basic-auth/{user}, but returns 404 instead of 401 on failure.",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Username to authenticate with"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful authentication.",
            "content": {}
          },
          "404": {
            "description": "Unsuccessful authentication.",
            "content": {}
          }
        }
      }
    },
    "/html": {
      "get": {
        "tags": [
          "Response formats"
        ],
        "summary": "Returns a sample HTML document.",
        "operationId": "getHtml",
        "description": "Returns a sample HTML document (text/html).",
        "responses": {
          "200": {
            "description": "An HTML page.",
            "content": {}
          }
        }
      }
    },
    "/image": {
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "Returns a random image, negotiated via the Accept header.",
        "operationId": "getImage",
        "description": "Returns a random colored image. If the Accept header specifies an image format (image/png, image/jpeg, image/webp, image/svg+xml), returns an image in that format. Otherwise returns a random format.",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Preferred image format. Supports image/png, image/jpeg, image/webp, image/svg+xml, or image/* for random format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image/png",
                "image/jpeg",
                "image/webp",
                "image/svg+xml",
                "image/*"
              ]
            },
            "example": "image/png"
          }
        ],
        "responses": {
          "200": {
            "description": "A random colored image with X-Image-Color header indicating the color and X-Image-Format-Source indicating how the format was chosen.",
            "headers": {
              "X-Image-Color": {
                "description": "The color name of the returned image",
                "schema": {
                  "type": "string"
                }
              },
              "X-Image-Format-Source": {
                "description": "How the image format was determined: 'accept-header', 'random', or 'fallback'",
                "schema": {
                  "type": "string",
                  "enum": [
                    "accept-header",
                    "random",
                    "fallback"
                  ]
                }
              }
            },
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/image/jpeg": {
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "Returns a random colored JPEG image.",
        "operationId": "getImageJpeg",
        "description": "Returns a random colored JPEG image, served as image/jpeg.",
        "responses": {
          "200": {
            "description": "A random colored JPEG image with X-Image-Color header indicating the color.",
            "headers": {
              "X-Image-Color": {
                "description": "The color name of the returned image",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/image/png": {
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "Returns a random colored PNG image.",
        "operationId": "getImagePng",
        "description": "Returns a random colored PNG image, served as image/png.",
        "responses": {
          "200": {
            "description": "A random colored PNG image with X-Image-Color header indicating the color.",
            "headers": {
              "X-Image-Color": {
                "description": "The color name of the returned image",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/image/svg": {
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "Returns a random colored SVG image.",
        "operationId": "getImageSvg",
        "description": "Returns a random colored SVG image, served as image/svg+xml.",
        "responses": {
          "200": {
            "description": "A random colored SVG image with X-Image-Color header indicating the color.",
            "headers": {
              "X-Image-Color": {
                "description": "The color name of the returned image",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/image/webp": {
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "Returns a random colored WEBP image.",
        "operationId": "getImageWebp",
        "description": "Returns a random colored WEBP image, served as image/webp.",
        "responses": {
          "200": {
            "description": "A random colored WEBP image with X-Image-Color header indicating the color.",
            "headers": {
              "X-Image-Color": {
                "description": "The color name of the returned image",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/ip": {
      "get": {
        "tags": [
          "Request inspection"
        ],
        "summary": "Returns the requester's IP address.",
        "operationId": "getIp",
        "description": "Returns the client IP as {\"origin\": \"...\"}.",
        "responses": {
          "200": {
            "description": "The requester's IP address.",
            "content": {}
          }
        }
      }
    },
    "/json": {
      "get": {
        "tags": [
          "Response formats"
        ],
        "summary": "Returns a sample JSON document.",
        "operationId": "getJson",
        "description": "Returns a sample JSON document (application/json).",
        "responses": {
          "200": {
            "description": "An JSON document.",
            "content": {}
          }
        }
      }
    },
    "/links/{n}": {
      "get": {
        "tags": [
          "Dynamic data"
        ],
        "summary": "Returns the first page of n links.",
        "operationId": "getLinks",
        "description": "Same as /links/{n}/{offset}, with offset defaulted to 0; redirects to the page.",
        "parameters": [
          {
            "name": "n",
            "in": "path",
            "required": true,
            "schema": {},
            "description": "Number of links per page"
          }
        ],
        "responses": {
          "200": {
            "description": "HTML links.",
            "content": {}
          }
        }
      }
    },
    "/links/{n}/{offset}": {
      "get": {
        "tags": [
          "Dynamic data"
        ],
        "summary": "Returns a page of n links.",
        "operationId": "getLinksNOffset",
        "description": "Returns a page of n links, starting at offset.",
        "parameters": [
          {
            "name": "n",
            "in": "path",
            "required": true,
            "schema": {},
            "description": "Number of links per page"
          },
          {
            "name": "offset",
            "in": "path",
            "required": true,
            "schema": {},
            "description": "Page offset (0-based)"
          }
        ],
        "responses": {
          "200": {
            "description": "HTML links.",
            "content": {}
          }
        }
      }
    },
    "/patch": {
      "patch": {
        "tags": [
          "HTTP Methods"
        ],
        "summary": "Echoes the request's PATCH parameters.",
        "operationId": "patchPatch",
        "description": "Same as /post, for PATCH requests.",
        "responses": {
          "200": {
            "description": "The request's PATCH parameters.",
            "content": {}
          }
        }
      }
    },
    "/post": {
      "post": {
        "tags": [
          "HTTP Methods"
        ],
        "summary": "Echoes the request's POST parameters and uploaded files.",
        "operationId": "postPost",
        "description": "Echoes the request's parsed body and uploaded files; multiple files with the same parameter name are returned as an array.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Supports file uploads. Multiple files with the same field name are returned as an array."
              }
            },
            "application/json": {
              "schema": {
                "type": "object"
              }
            },
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request's POST parameters and uploaded files.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestInfo"
                }
              }
            }
          }
        }
      }
    },
    "/put": {
      "put": {
        "tags": [
          "HTTP Methods"
        ],
        "summary": "Echoes the request's PUT parameters.",
        "operationId": "putPut",
        "description": "Same as /post, for PUT requests.",
        "responses": {
          "200": {
            "description": "The request's PUT parameters.",
            "content": {}
          }
        }
      }
    },
    "/range/{numbytes}": {
      "get": {
        "tags": [
          "Dynamic data"
        ],
        "summary": "Streams bytes with HTTP Range support.",
        "operationId": "getRangeNumbytes",
        "description": "Streams numbytes bytes; supports Range requests.",
        "parameters": [
          {
            "name": "numbytes",
            "in": "path",
            "required": true,
            "schema": {},
            "description": "Total number of bytes in the payload"
          },
          {
            "name": "chunk_size",
            "in": "query",
            "description": "Bytes per chunk (default: 10240)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "duration",
            "in": "query",
            "description": "Total streaming duration in seconds (default: 0)",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested byte range of the numbytes payload.",
            "content": {}
          },
          "404": {
            "description": "numbytes is 0 or exceeds the server max-bytes limit (configurable via --max-bytes).",
            "content": {}
          },
          "416": {
            "description": "Requested Range is not satisfiable for the given numbytes.",
            "content": {}
          }
        }
      }
    },
    "/redirect-to": {
      "get": {
        "tags": [
          "Redirects"
        ],
        "summary": "Redirects to the given URL (302 by default, or a custom status).",
        "operationId": "getRedirectTo",
        "description": "Redirects to ?url=; POST/PUT/PATCH/DELETE also accept urlencoded, multipart, or JSON bodies (body fields win over query); browser clients see an anti-phishing interstitial instead of a silent redirect.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Target URL to redirect to",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "status_code",
            "in": "query",
            "required": false,
            "description": "HTTP status code for the redirect (default 302)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "A redirection.",
            "content": {}
          },
          "400": {
            "description": "Missing required url query parameter.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Redirects"
        ],
        "summary": "Redirects to the given URL (302 by default, or a custom status).",
        "operationId": "putRedirectTo",
        "description": "Redirects to ?url=; POST/PUT/PATCH/DELETE also accept urlencoded, multipart, or JSON bodies (body fields win over query); browser clients see an anti-phishing interstitial instead of a silent redirect.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "url"
                ],
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "status_code": {}
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "url"
                ],
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "status_code": {}
                }
              }
            },
            "application/json": {
              "schema": {
                "required": [
                  "url"
                ],
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "status_code": {}
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "302": {
            "description": "A redirection.",
            "content": {}
          },
          "400": {
            "description": "Missing required url query parameter.",
            "content": {}
          }
        },
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Target URL to redirect to",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "status_code",
            "in": "query",
            "required": false,
            "description": "HTTP status code for the redirect (default 302)",
            "schema": {
              "type": "integer"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Redirects"
        ],
        "summary": "Redirects to the given URL (302 by default, or a custom status).",
        "operationId": "postRedirectTo",
        "description": "Redirects to ?url=; POST/PUT/PATCH/DELETE also accept urlencoded, multipart, or JSON bodies (body fields win over query); browser clients see an anti-phishing interstitial instead of a silent redirect.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "url"
                ],
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "status_code": {}
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "url"
                ],
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "status_code": {}
                }
              }
            },
            "application/json": {
              "schema": {
                "required": [
                  "url"
                ],
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "status_code": {}
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "302": {
            "description": "A redirection.",
            "content": {}
          },
          "400": {
            "description": "Missing required url query parameter.",
            "content": {}
          }
        },
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Target URL to redirect to",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "status_code",
            "in": "query",
            "required": false,
            "description": "HTTP status code for the redirect (default 302)",
            "schema": {
              "type": "integer"
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "Redirects"
        ],
        "summary": "Redirects to the given URL (302 by default, or a custom status).",
        "operationId": "deleteRedirectTo",
        "description": "Redirects to ?url=; POST/PUT/PATCH/DELETE also accept urlencoded, multipart, or JSON bodies (body fields win over query); browser clients see an anti-phishing interstitial instead of a silent redirect.",
        "responses": {
          "302": {
            "description": "A redirection.",
            "content": {}
          },
          "400": {
            "description": "Missing required url query parameter.",
            "content": {}
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "url"
                ],
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "status_code": {}
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "url"
[...]
